@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body{
    background: linear-gradient(to left #011f5d, #e34100);
    background: linear-gradient(to right, #e34100, #011f5d);
    
    display: flex;
    flex-direction: column;
    height: 100vh;
}
h1{
    font-family: 'Montserrat', sans-serif;
    color: white;
    display: block;
    font-size: 3em;
   
    font-weight: bold;
}
.CONTAINER .BOX {
    height: 100vh;
    width: 100%;   
    padding: 20px; 
    background: rgba(255, 255, 255, 0.1);
    z-index: 10;
    display: flex;
    position: relative;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(25px);
    box-shadow: -15px 17px 17px rgba(255, 255, 255, 0.25);
}
